.box{
    width: 1917px;
}
.top{
    background-color: #ffffff;
	box-shadow: 2px 5px 20px 1px #f0f0f0;
    display: flex;
}
.top-left img{
    width: 124px;
	height: 30px;
    margin:15px 0 25px 362px;
}

.top .top-rig{   
 margin-left: 99px;
 margin-top: 23px;
}
.top .top-rig a{
        width: 67px;
        height: 16px;
        font-family: SourceHanSansCN-Medium;
        font-size: 16px;
        padding-right: 41px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #333;
}
.top .top-rig a:nth-child(4){
    color: #4364f7;
}
.message{
    position: relative;
    height: 965px;
}
.message img{
    width: 100%;
}
.message .over{
    width: 1440px;
	height: 623px;
	background-color: #ffffff;
	box-shadow: 1px 2px 5px 0px 
		#bfbdbb;
    position: absolute;
    left: 258px;
    top:275px;
    padding: 0 72px;
}
.message .over h2{
    width: 104px;
	height: 27px;
	font-size: 32px;
	color: #000000;
    margin: 59px auto;
}
.message .over input{
    width: 407px;
	height: 46px;
	background-color: #f7f7f7;
    margin-right: 47px;
    padding-left: 20px;
}
.message .over .title{
    width: 1362px;
	height: 47px;
    margin: 26px 0;
}
.message .over textarea{
    resize: none;
    display: block;
    width: 1355px;
	height: 132px;
	background-color: #f7f7f7;
    border: none;
    padding: 15px;
}
.message .over .submit{
    width: 477px;
	height: 59px;
	background-color: #496af9;
	border-radius: 2px;
    font-size: 20px;
    color: #fff;
    margin: 61px 460px;
}
.service{
    margin-left: 258px;
    margin-bottom: 55px;
}
.service h2{
    font-size: 22px;
	font-weight: bold;
    padding-bottom: 9px;
    border-bottom:7px solid #496af9;
    width: 129px;
}
.service .pic{
    border-top: 1px solid #2485d4;
    width: 1586px;
}
.service ul{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
.service ul li{
    position: relative;
}
.service ul li img{
    width: 382px;
	height: 235px;
    margin-bottom: 10px;
    /* float: left; */
}
.service ul li div{
    width: 382px;
	height: 235px;
    text-align: center;
    line-height: 235px;
    color: #fff;
    font-size: 22px;
    background-color: #000;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.service ul li:hover div{
    opacity: 0.55;
}
.footer{
	height: 104px;
	background-color: #496af9;
    display: flex;
}
.footer .footer-left{
    margin-top: 30px;
    margin-left: 375px;
}
.footer .footer-mid{
    margin-left: 52px;
    margin-top: 45px;
    width: 803px;
	height: 15px;
	font-family: SourceHanSansCN-Regular;
	font-size: 12px;
	letter-spacing: 1px;
	color: #ffffff;
}
.footer .footer-mid a{
    color: #ffffff;
    float: left;
    padding:0 8px;
    border-left: 1px solid #fff;
}
.footer .footer-mid a:first-child{
    border: none;
}